<div class="row h-100 text-center form px-3">
  <div class="col-sm-12 my-auto">
    <%= image_tag 'loachella-logo-secondary.svg',class: 'w-75'%>
    <%= link_to 'Log in', login_path, class: 'btn btn-primary p-2 w-100' %>
    <%= link_to 'Sign Up', signup_path, class: 'btn btn-link p-2 w-100' %>
  </div>
</div>
