<h1>I'm  <%=@user.fullname%></h1>
<%= link_to 'All my transactions', signup_path, class: 'btn btn-link pt-3 w-100' %>
<%= link_to 'All my external transactions', signup_path, class: 'btn btn-link pt-3 w-100' %>
<%= link_to 'All groups', signup_path, class: 'btn btn-link pt-3 w-100' %>
