/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'proxima_novabold';
  src: asset-url('proxima-nova-bold-webfont.woff2') format('woff2'),
    asset-url('proxima-nova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: asset-url('proxima-nova-light-webfont.woff2') format('woff2'),
    asset-url('proxima-nova-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$texto-primary: #434b54;
$texto-secondary: #555e67;
$texto-tertiary: #878a8f;
$texto-last: #989da3;

html,
body {
  height: 100%;
  
}

.font-bold {
  font-family: 'proxima_novabold';
}

form,
.form {
  input[type='submit'] {
    text-transform: uppercase;
  }
  a.btn {
    text-transform: uppercase;
  }
  a.btn-link {
    color: $texto-tertiary;
  }
  a.btn-link:hover {
    text-decoration: none;
  }

  #error_explanation {
    h2 {
      font-size: 1em;
    }
    ul {
      color: #f00;
    }
  }
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.notice,
.alert {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}
