// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px;
  bottom: 20px;
}
.btn-group-fab div {
  position: relative;
  width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 70px;
  height: 70px;
  right: 50%;
  margin-right: -25px;
  z-index: 9;
}

.pig-weights {
  p {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  .card-date {
    font-size: 16px;
  }
}
