.user-profile {
  background: rgb(19, 52, 95);
  background: linear-gradient(
    180deg,
    rgba(19, 52, 95, 1) 0%,
    rgba(29, 81, 131, 1) 50%,
    rgba(47, 129, 189, 1) 88%
  );
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
