.user-profile {
  background: rgb(19, 52, 95);
  background: linear-gradient(
    180deg,
    rgba(19, 52, 95, 1) 0%,
    rgba(29, 81, 131, 1) 32%,
    rgba(47, 129, 189, 1) 74%
  );
  color: $texto-light;

  a {
    color: $texto-light;
  }

  a:hover {
    color: $texto-light;
    text-decoration: none;
  }

  a:focus {
    box-shadow: none;
  }

  .list-link {
    .btn {
      padding: 0;
    }

    a {
      text-align: left;
      border-bottom: 0.05rem solid $texto-light;
    }

    .list-link-item {
      text-align: left;
      display: flex;
      max-width: 425px;
      margin: 0 auto;
      min-width: 280px;

      a {
        padding-bottom: 20px;
      }
    }

    .rounded-icon {
      $tam_icon_rounded: 40px;
      border: 2px solid $texto-light;
      display: inline-block;
      border-radius: $tam_icon_rounded;
      width: 46px;
      height: $tam_icon_rounded;
      text-align: center;
      padding-top: 1px;
      margin-right: 20px;
    }
  }
  .image-cropper {
    width: 100px;
    height: 100px;
  }

  .default_image {
    height: 100px;
  }
}
