<article class="timeline">
  <p> You have extra savings: <%= number_to_currency(@total)%> </p>
  <ul class="posts">
    <%@transactions.each do |t|%>
      <li>
        <p><%=t.description%></p>
        <p><%=number_to_currency(t.amount)%></p>
      </li>
    <%end%>
  </ul>
</article>
<%= render 'fab_button' %>
